body{
  padding-top: 70px;
}

hr{
  border:2px solid #f4f4f5;
}

h3, h4{
  color: #965ba5;
}

p{
  color: #535353;
  font-size: 12px;
  line-height: 18px;
}

.navbar-default {
  background-color: #FFFFFF;
  border-bottom: 4px solid #f4f4f5;
}

#find{
  display: inline;
  float:right;
  font-size:9px;
  text-transform: uppercase;
  padding-top:15px;
}

.personal {
  margin: 20px;
}

.mission{
  font-size: 16px;
  font-weight: bolder;
  margin-top: 15px;
  margin-bottom: -15px;
}

.overlay-mission {
  color: black;
  width: 50%;
  height: 250px;
  z-index: 10;
  display:block;
  position: absolute;
}

#back-to-top {
  background-color: #3C3F45;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding-top: 9px;
}

.back-to-top-font {
  font-size: 17pt;
}

.footer {
  margin-top:60px;
  padding:60px;
  background-color: #f4f4f5;
  border:0px;
}

#open{
  padding:10px;
  background-color:#965ba5;
  font-size:8px;
  font-weight: bolder;
}

#gh{
color: white;
}

.pmenu{
  padding-bottom: 30px;
}

.ptitle{
  padding-left: 10px;
  display: inline-table;
}

.pp{
  padding-left: 70px;
}
